//!<Подключаем шрифты>======================================================================================
// Convert fonts: https://transfonter.org/
// font-weight:100-thin,200-UltraLite,300-light,400-normal-regular,500-medium,600-semibold,700-bold,800-Heavy,900-black
//&display=swap
//!</Подключаем шрифты>=====================================================================================

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

@mixin font($font_name, $file_name, $weight, $style: normal) {
  @font-face {
    font-family: "#{$font_name}";
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{$file_name}.woff") format("woff");
  }
}

@include font("Noto Sans", "NotoSans-ExtraLight", 200);
@include font("Noto Sans", "NotoSans-Light", 300);
@include font("Noto Sans", "NotoSans-Regular", 400);
@include font("Noto Sans", "NotoSans-Medium", 500);
@include font("Noto Sans", "NotoSans-Semibold", 600);
@include font("Noto Sans", "NotoSans-Bold", 700);
@include font("Noto Sans", "NotoSans-Extrabold", 800);
