@media screen and (min-width: 1140px) and (max-width: 1400px){
    .header__bg{
        .header__nav-temno{
            margin-bottom: 50px;
        }
    }

    .header{
        &__length{
            ul{
                li{
                    a{
                        font-size: 18px;
                    }

                    img{
                        height: 55px;
                    }
                }
            }
        }
    }

    .sidebar{
        &__center{
            h1{
                font-size: 75px;
                letter-spacing: 3px;
            }

            p{
                font-size: 22px;
                line-height: 45px;
            }

            a{
                font-size: 17px;
                padding: 15px 40px;
            }
        }
    }

    .product{
        &__section{
            &-info{
                padding: 25px 40px;

                &-sidebar{
                    img{
                        width: 140px;
                    }

                    #kok250{
                        width: 102px;
                    }

                    #kok150{
                        width: 120px;
                    }

                    #kok500{
                        width: 100px;
                    }

                    #quti{
                        width: 112px;
                    }
                }

                h1{
                    font-size: 35px;
                }

                a{
                    font-size: 15px;
                    padding: 10px 30px;
                }


                .extra{
                    top: 10px;
                }

                a:hover + .extra{
                    padding: 20px 40px;
                    border-radius: 20px;
                    
                    
                    .extra__menu{
                        .extra__menu-flex{
                            padding-bottom: 5px;
                            border-radius: 10px;
                            column-gap: 15px;
                            margin-bottom: 12px;
                            
                            i{
                                font-size: 30px;
                                color: #33348E;
                            }
                            
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}


















@media screen and (max-width: 576px){
    .header{
        &__length{
            ul{
                padding: 0;

                li{
                    a{
                        display: block;
                    }
                }
            }
        }
        

        &__length{
            &-plus{
                display: block;
                position: relative;
                top: 175px;


                ul{
                    padding: 0;
                    text-align: center;

                    li{
                        margin-bottom: 20px;


                        a{
                            font-size: 30px;
                            color: #FFFFFF;
                            font-weight: 700;
                            padding: 5px 0px;

			                letter-spacing: 4px;
    		                text-shadow: 3px 4px 0px #0062bd;
                        }
                    }
                }

                img{
                    display: none;
                }
            }
        }
    }

    .header__bg{
	    width: 100%;
        object-fit: cover;
	    height: 100vh;

        .header__nav-temno{
            height: 170px;
        }
    }

    .sidebar{
        &__center{
            h1{
                display: none;
            }

            p{
                display: none;
            }

            a{
                display: none;
            }
        }
    }

    .product{
        margin-bottom: 20px;

        &__section{
            &-info{
                padding: 25px 30px;

                
                h1{
                    font-size: 35px;
                }

                &-sidebar{
                    img{
                        width: 180px;
                    }

                    #kok250{
                        width: 110px;
                    }

                    #kok150{
                        width: 130px;
                    }

                    #kok500{
                        width: 110px;
                    }

                    #quti{
                        width: 130px;
                    }
                }

                a{
                    padding: 9px 30px;
                    font-weight: 700;
                    border-radius: 17px;
                    font-size: 17px;
                }



                .extra{
                    top: 7px;
                    left: 52px;
                }


                a:hover + .extra{
                    padding: 10px 28px;
                    border-radius: 25px;
                    
                    
                    .extra__menu{
                        .extra__menu-flex{
                            column-gap: 10px;
                            
                            
                            i{
                                font-size: 33px;
                            }
                            
                            p{
                                font-size: 15px;
                            }
                        }
                    }
                }
                
            }
        }
    }


    .about{
        &__top{
            h1{
                font-size: 30px;
                margin-bottom: 20px;
            }

            p{
               font-size: 15px; 
            }
        }

        swiper-slide img{
            object-fit: contain;
        }

        &__bottom{
            &-text{
                h1{
                    font-size: 30px;
                }
            }

            &-img{
                img{
                    min-width: 320px;
                    width: 100%;
                }
            }
        }
    }

    .contact{

        h1{
            font-size: 30px;
        }

        &__sidebar{
            display: block;

            &-info{
                border: none;

                a{
                    font-size: 23px;
                }

                &-details{
                    i{
                        font-size: 37px;
                    }

                    p{
                        font-size: 25px;
                    }

                    a{
                        font-size: 21px;
                    }
                }
            }
        }
    }


    .footer{
        &__centre{
            ul{
                padding: 0;
                display: block;
            }
        }
    }

    .knopka__vverx{
        a{
            right: 10px;
            font-size: 20px;
            padding: 7px 15px;
            bottom: 10px;
        }
    }


    .remind{
        font-size: 20px;
    }
}















@media screen and (max-width: 320px){
    .header{
        &__length{
            &-plus{
                top: 100px;

                ul{
                    li{
                        a{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }



    .product{
        &__section{
            &-info{
                .extra{
                    top: 5px;
                    right: 50px;
                }
            
            
                a:hover + .extra{
                    padding: 5px 5px;
                    border-radius: 20px;
                    
                    
                    .extra__menu{
                        .extra__menu-flex{
                            border: none;
                            column-gap: 10px;
                            
                            
                            i{
                                font-size: 25px;
                            }
                            
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact{

        h1{
            font-size: 30px;
        }

        &__sidebar{
            display: block;

            &-info{
                border: none;
                padding: 35px 30px;

                p{
                    font-size: 18px;
                }

                &-details{
                    column-gap: 10px;

                    i{
                        font-size: 22px;
                    }

                    p{
                        font-size: 25px;
                    }

                }
                a{
                    font-size: 18px;
                }
            }
        }
    }

    .about{
        &__bottom{
            &-img{
                img{
                    min-width: 250px;
                    width: 100%;
                }
            }
        }
    }

    .knopka__vverx{
        a{
            right: 10px;
            font-size: 15px;
            padding: 10px 15px;
            bottom: 10px;
        }
    }
}