@media screen and (max-width: 576px){
    .header__bg{
	    width: 100%;
	    height: 50vh;


        .header__nav-temno{
            margin-bottom: 50px;
        }
    }

    .sidebar{
        &__center{
            h1{
                font-size: 50px;
                margin-bottom: 80px;
            }

            p{
                display: none;
            }
        }
    }
}