// header section start

.header__bg{
	background-image: url("../images/org/SpwZNaFX.jpg");
	// background-image: url("../images/org/solvmeshke.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	margin-bottom: 5px;

	.header__nav-temno{
		background: rgba(0, 0, 0, 0.2);
		padding: 40px 0;
		margin-bottom: 100px;
	}
}

.header{
	&__length{
		ul{
			li{
				a{
					color: #FFFFFF;
					font-weight: 600;
					font-size: 22px;
					padding: 6px;
					transition: 0.4s;

					img{
						background-color: #FFFFFF;
						border-radius: 10px;
						padding: 5px;
					}
				}
				
				a:hover{
					color: #0062bd;
					transition: 0.2s;
				}
			}
		}
	}
}


// header section end


// -----------------------------


// sidebar section start


.sidebar{
	&__center{
		text-align: center;


		h1{
			color: #FFFFFF;
			font-size: 100px;
			font-weight: 600;
			margin-bottom: 25px;
			letter-spacing: 4px;
    		text-shadow: 6px 4px 0px #0062bd;
		}

		p{
			font-weight: 600;
			font-size: 28px;
			letter-spacing: 3px;
			line-height: 55px;
			color: #FFFFFF;
			margin-bottom: 55px;
		}

		a{
			color: #FFFFFF;
			padding: 18px 55px;
			background-color: #144A8D;
			border-radius: 10px;
			font-size: 22px;
			transition: 0.5s;
			font-weight: 600;
			border: 3px solid transparent;
		}

		a:hover{
			background-color: transparent;
			border: 3px solid #144A8D;
			color: #144A8D;
			transition: 0.5s;
		}
	}
}


// sidebar section end



// product section start

.product{
	margin-bottom: 75px;
	width: 100%;
	overflow: hidden;


	
	
	
	&__section{
		display: flex;
		gap: 6px;
		
		
		// extraaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		.extra{
			transition: 0.8s;
			display: none;
			position: absolute;
			top: 8px;
			left: 7%;
			border: 3px solid #33348E;
			text-align: start !important;
		}
		
		// extralaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


		&-info{
			flex-grow: 1;
			transition: 0.4s;
			background-color: #F7F7F7;
			padding: 35px 0;
			text-align: center;
			position: relative;


			&-sidebar{
				margin-bottom: 22px;
				text-align: center;


				img{
					transition: 0.4s;
					margin-bottom: 10px;
					object-fit: contain;
				}
			}


			h1{
				font-size: 45px;
				font-weight: 800;
				color: #33348E;
				transition: 0.4s;
				text-align: center;
				margin-bottom: 10px;
			}

			a{
				background-color: #F7F7F7;
				padding: 13px 55px;
				border-radius: 15px;
				font-size: 20px;
				color: #FFFFFF;
				background-color: #33348E;
				border: 4px solid #33348E;
				font-weight: 700;
				transition: 0.4s;
			}




			// hoveeeeeeeeeeeeeeeeeeeeeeeeeeeer
			a:hover + .extra{
				display: block;
				background-color: #ffffffeb;
				padding: 10px 70px;
				border-radius: 20px;
				
				
				.extra__menu{
					.extra__menu-flex{
						display: flex;
						column-gap: 30px;
						padding-bottom: 7px;
						border-bottom: 3px solid #33348E;
						align-items: center;
						margin-bottom: 17px;
						
						i{
							font-size: 45px;
							color: #33348E;
						}
						
						p{
							color: #33348E;
							font-weight: 700;
							font-size: 22px;
						}
					}
					
					.extra__menu-flex:last-child{
						border: none;
					}
					
					.extra__menu-flex:last-child{
						margin: 0;
					}
				}
			}
			// hoveeeeeeeeeeeeeeeeeeeeeeeeeeeer
		}

		
		
		&-info:hover{
			background-color: rgb(8, 109, 112);
			transition: 0.4s;

			h1{
				color: #FFFFFF;
				transition: 0.4s;
			}

			img{
				transform: scale(1.1);
				transition: 0.4s;
			}

			a{
				color: #33348E;
				background-color: #FFFFFF;
				border: 4px solid #33348E;
				transition: 0.4s;
			}
		}
	}
}


// product section end



// about section start
.about{
	&__top{
		h1{
			padding-top: 25px;
			font-weight: 700;
			font-size: 55px;
			color: #33348E;
			margin-bottom: 30px;
			text-align: center;
		}

		p{
			font-size: 18px;
			line-height: 30px;
			color: #33348E;
			font-weight: 500;

			.span{
				margin-bottom: 22px;
				display: block;
			}
		}
	}

	&__centre{
		background: #FFFFFF;
		font-size: 14px;
		color: #000;
		margin-bottom: 50px;
		padding: 0;
	}
  
	  swiper-container{
		height: 70vh;
	}
  
	  swiper-slide{
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
  
	  swiper-slide img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	&__bottom{
		&-text{
			h1{
				font-size: 55px;
				font-weight: 700;
				color: #33348E;
				text-align: center;
				margin-bottom: 35px;	
			}
		}

		&-img{
			text-align: center;
			margin-bottom: 100px;
		}
	}
}

.remind{
	color: #33348E;
	font-size: 25px;
	font-weight: 700;
}
// about section end




// contact section start

.contact{
	background-color: #FAF8EA;
	padding-top: 35px;
	margin-bottom: px;



	h1{
		font-weight: 700;
		font-size: 55px;
		color: #33348E;
		margin-bottom: 45px;
		text-align: center;
	}

	&__sidebar{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 35px;


		&-info{
			border-right: 3px solid #33348E;
			padding: 40px 60px;



			p, a{
				font-size: 25px;
				font-weight: 700;
				color: #33348E;
			}
			
			&-details{
				display: flex;
				column-gap: 30px;
				align-items: center;
				margin-bottom: 30px;


				i{
					color: #33348E;
					font-size: 50px;
				}

				p{
					font-size: 30px;
					font-weight: 600;
					color: #33348E;
				}
			}
		}


		&-info:nth-child(3){
			border: none;
		}
	}

	&__map{
		#location{
			height: 500px;
			width: 100%;
		}
	}
}

// contact section end



// footer section start
.footer{
	text-align: center;
	padding: 50px 0;


	&__top{
		img{
			margin-bottom: 30px;
		}
	}

	&__centre{
		ul{
			display: flex;
			justify-content: center;
			column-gap: 35px;


			li{
				a{
					font-weight: 600;
					font-size: 18px;
					color: #144A8D;
					line-height: 1.8;
				}
			}
		}
	}

	&__bottom{
		margin-bottom: 15px;


		a{
			color: #144A8D;
			font-size: 50px;
			margin-left: 20px;
		}

		a:first-child{
			margin: 0;
		}

		i{
			transition: 0.3s;
		}

		i:hover{
			transition: 0.3s;
			transform: translateY(-5px);
		}
	}

	p{
		font-weight: 600;
		font-size: 18px;
		color: #144A8D;
	}
}
// footer section end


.knopka__vverx{
	position: relative;


	a{
		position: absolute;
		right: 50px;
		bottom: 50px;
		position: fixed;
		color: #FFFFFF;
		background-color: #33348E;
		font-size: 25px;
		border-radius: 50%;
		padding: 10px 20px;
		transition: 0.3s;
		z-index: 1;
		border: 3px solid #33348E; 	
	}

	a:hover{
		color: #33348E;
		transition: 0.3s;
		background-color: #FFFFFF;
		border: 3px solid #33348E;
	}
}