@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body::-moz-selection {
  background-color: red;
  color: yellow;
}

body::selection {
  background-color: red;
  color: yellow;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__bg {
  background-image: url("../images/icons/header__bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 5px;
}
.header__bg .header__nav-temno {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 0;
  margin-bottom: 100px;
}

.header__length ul li a {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 22px;
  padding: 6px;
  transition: 0.4s;
}
.header__length ul li a:hover {
  color: #0062bd;
  transition: 0.2s;
}
.header__length-plus {
  display: none;
}

.sidebar__center {
  text-align: center;
}
.sidebar__center h1 {
  color: #FFFFFF;
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 4px;
  text-shadow: 6px 4px 0px #0062bd;
}
.sidebar__center p {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 68px;
  color: #FFFFFF;
  margin-bottom: 55px;
}
.sidebar__center a {
  color: #FFFFFF;
  padding: 18px 55px;
  background-color: #144A8D;
  border-radius: 10px;
  font-size: 22px;
  transition: 0.5s;
  font-weight: 600;
  border: 3px solid transparent;
}
.sidebar__center a:hover {
  background-color: transparent;
  border: 3px solid #144A8D;
  color: #144A8D;
  transition: 0.5s;
}

.product {
  margin-bottom: 75px;
  width: 100%;
  overflow: hidden;
}
.product__section {
  display: flex;
  gap: 6px;
}
.product__section-info {
  flex-grow: 1;
  transition: 0.4s;
  background-color: #F7F7F7;
  padding: 22px 77px 40px 77px;
}
.product__section-info-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  text-align: center;
}
.product__section-info-sidebar img {
  transition: 0.4s;
}
.product__section-info-sidebar-p .kg {
  background-color: #FCE8F3;
  border-radius: 15px;
  font-size: 22px;
  color: #E3188B;
  padding: 7px 17px;
  font-weight: 800;
  margin-bottom: 15px;
  border: 3px solid #E3188B;
  transition: 0.4s;
}
.product__section-info-sidebar-p .yangi {
  background-color: #E3E3FF;
  border-radius: 15px;
  font-size: 20px;
  color: #33348E;
  padding: 7px 17px;
  border: 3px solid #33348E;
  font-weight: 800;
  margin-bottom: 15px;
  transition: 0.4s;
}
.product__section-info-sidebar-p .nav {
  background-color: #E7FFDF;
  color: #48C85C;
  border-radius: 15px;
  border: 3px solid #48C85C;
  font-size: 20px;
  padding: 7px 17px;
  font-weight: 800;
  transition: 0.4s;
}
.product__section-info h1 {
  font-size: 45px;
  font-weight: 800;
  color: #33348E;
  transition: 0.4s;
  text-align: center;
}
.product__section-info a {
  background-color: #F7F7F7;
  padding: 13px 55px;
  border-radius: 15px;
  font-size: 20px;
  color: #ff7825;
  border: 3px solid #ff7825;
  font-weight: 600;
  transition: 0.4s;
}
.product__section-info:hover {
  background-color: rgb(8, 109, 112);
  transition: 0.4s;
}
.product__section-info:hover h1 {
  color: #FFFFFF;
  transition: 0.4s;
}
.product__section-info:hover img {
  transform: scale(1.1);
  transition: 0.4s;
}
.product__section-info:hover a {
  color: #FFFFFF;
  background-color: #ff7825;
  border: 3px solid #ff7825;
  transition: 0.4s;
}
.product__section-info:hover .kg {
  background-color: #E3188B;
  color: #FFFFFF;
  transition: 0.4s;
}
.product__section-info:hover .yangi {
  background-color: #33348E;
  color: #FFFFFF;
  transition: 0.4s;
}
.product__section-info:hover .nav {
  background-color: #48C85C;
  color: #FFFFFF;
  transition: 0.4s;
}

.about__top h1 {
  padding-top: 25px;
  font-weight: 700;
  font-size: 55px;
  color: #33348E;
  margin-bottom: 30px;
  text-align: center;
}
.about__top p {
  font-size: 18px;
  line-height: 30px;
  color: #33348E;
  font-weight: 500;
}
.about__top p .span {
  margin-bottom: 22px;
  display: block;
}
.about__centre {
  background: #FFFFFF;
  font-size: 14px;
  color: #000;
  margin-bottom: 50px;
  padding: 0;
}
.about swiper-container {
  height: 70vh;
}
.about swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__bottom-text h1 {
  font-size: 55px;
  font-weight: 700;
  color: #33348E;
  text-align: center;
  margin-bottom: 35px;
}
.about__bottom-img {
  text-align: center;
  margin-bottom: 100px;
}

.remind {
  color: #33348E;
  font-size: 25px;
  font-weight: 700;
}

.contact {
  background-color: #FAF8EA;
  padding-top: 35px;
  margin-bottom: px;
}
.contact h1 {
  font-weight: 700;
  font-size: 55px;
  color: #33348E;
  margin-bottom: 45px;
  text-align: center;
}
.contact__sidebar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 35px;
}
.contact__sidebar-info {
  border-right: 3px solid #33348E;
  padding: 40px 60px;
}
.contact__sidebar-info p, .contact__sidebar-info a {
  font-size: 25px;
  font-weight: 700;
  color: #33348E;
}
.contact__sidebar-info-details {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 30px;
}
.contact__sidebar-info-details i {
  color: #33348E;
  font-size: 50px;
  width: 50px;
  height: 50px;
}
.contact__sidebar-info-details p {
  font-size: 30px;
  font-weight: 600;
  color: #33348E;
}
.contact__sidebar-info:nth-child(3) {
  border: none;
}
.contact__map #location {
  height: 500px;
  width: 100%;
}

.footer {
  text-align: center;
  padding: 50px 0;
}
.footer__top img {
  margin-bottom: 30px;
}
.footer__centre ul {
  display: flex;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.footer__centre ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #144A8D;
  line-height: 1.8;
}
.footer__bottom {
  margin-bottom: 15px;
}
.footer__bottom a {
  color: #144A8D;
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.footer__bottom a:first-child {
  margin: 0;
}
.footer__bottom i {
  transition: 0.3s;
}
.footer__bottom i:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}
.footer p {
  font-weight: 600;
  font-size: 18px;
  color: #144A8D;
}

.knopka__vverx {
  position: relative;
}
.knopka__vverx a {
  position: absolute;
  right: 50px;
  bottom: 50px;
  position: fixed;
  color: #FFFFFF;
  background-color: #33348E;
  font-size: 25px;
  border-radius: 50%;
  padding: 10px 20px;
  transition: 0.3s;
  z-index: 1;
  border: 3px solid #33348E;
}
.knopka__vverx a:hover {
  color: #33348E;
  transition: 0.3s;
  background-color: #FFFFFF;
  border: 3px solid #33348E;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-ExtraLight.woff2") format("woff2"), url("../fonts/NotoSans-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Light.woff2") format("woff2"), url("../fonts/NotoSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Semibold.woff2") format("woff2"), url("../fonts/NotoSans-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Extrabold.woff2") format("woff2"), url("../fonts/NotoSans-Extrabold.woff") format("woff");
}
@media screen and (max-width: 576px) {
  .header__length ul {
    padding: 0;
  }
  .header__length ul li a {
    display: block;
  }
  .header__length-plus {
    display: block;
    position: relative;
    top: 175px;
  }
  .header__length-plus ul {
    padding: 0;
    text-align: center;
  }
  .header__length-plus ul li {
    margin-bottom: 20px;
  }
  .header__length-plus ul li a {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 0px;
  }
  .header__length-plus img {
    display: none;
  }
  .header__bg {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
  }
  .header__bg .header__nav-temno {
    height: 170px;
  }
  .sidebar__center h1 {
    display: none;
  }
  .sidebar__center p {
    display: none;
  }
  .sidebar__center a {
    display: none;
  }
  .product {
    margin-bottom: 20px;
  }
  .product__section-info {
    padding: 25px 30px;
  }
  .product__section-info h1 {
    font-size: 35px;
  }
  .product__section-info-sidebar-p .kg {
    border-radius: 0px;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 1px;
    border: 1px solid #E3188B;
  }
  .product__section-info-sidebar-p .yangi {
    border-radius: 0px;
    font-weight: 600;
    font-size: 18px;
    padding: 6px 1px;
    border: 1px solid #33348E;
  }
  .product__section-info-sidebar-p .nav {
    border-radius: 0px;
    font-weight: 600;
    border: 1px solid #48C85C;
    font-size: 17px;
    padding: 6px 10px;
  }
  .product__section-info-sidebar img {
    width: 230px;
  }
  .product__section-info a {
    padding: 13px 33px;
    font-weight: 600;
    border-radius: 0px;
    font-size: 17px;
    border: 1px solid #ff7825;
  }
  .product__section-info:hover a {
    border: 1px solid #ff7825;
    transition: 0.4s;
  }
  .about__top h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .about__top p {
    font-size: 15px;
  }
  .about swiper-slide img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about__bottom-text h1 {
    font-size: 30px;
  }
  .about__bottom-img img {
    min-width: 320px;
    width: 100%;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact__sidebar {
    display: block;
  }
  .contact__sidebar-info {
    border: none;
  }
  .contact__sidebar-info-details i {
    font-size: 37px;
  }
  .contact__sidebar-info-details p {
    font-size: 25px;
  }
  .contact__sidebar-info-details a {
    font-size: 21px;
  }
  .footer__centre ul {
    padding: 0;
    display: block;
  }
  .knopka__vverx a {
    right: 10px;
    font-size: 20px;
    padding: 7px 15px;
    bottom: 10px;
  }
  .remind {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header__length-plus {
    top: 100px;
  }
  .header__length-plus ul li a {
    font-size: 25px;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact__sidebar {
    display: block;
  }
  .contact__sidebar-info {
    border: none;
    padding: 35px 30px;
  }
  .contact__sidebar-info p {
    font-size: 18px;
  }
  .contact__sidebar-info-details {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .contact__sidebar-info-details i {
    font-size: 22px;
  }
  .contact__sidebar-info-details p {
    font-size: 25px;
  }
  .contact__sidebar-info a {
    font-size: 18px;
  }
  .about__bottom-img img {
    min-width: 250px;
    width: 100%;
  }
  .knopka__vverx a {
    right: 10px;
    font-size: 15px;
    padding: 10px 15px;
    bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */