@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body::-moz-selection {
  background-color: red;
  color: yellow;
}

body::selection {
  background-color: red;
  color: yellow;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header__bg {
  background-image: url("../images/org/SpwZNaFX.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 5px;
}
.header__bg .header__nav-temno {
  background: rgba(0, 0, 0, 0.2);
  padding: 40px 0;
  margin-bottom: 100px;
}

.header__length ul li a {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 22px;
  padding: 6px;
  transition: 0.4s;
}
.header__length ul li a img {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
}
.header__length ul li a:hover {
  color: #0062bd;
  transition: 0.2s;
}

.sidebar__center {
  text-align: center;
}
.sidebar__center h1 {
  color: #FFFFFF;
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 4px;
  text-shadow: 6px 4px 0px #0062bd;
}
.sidebar__center p {
  font-weight: 600;
  text-shadow: 3px 3px 0px #0062bd;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 55px;
  color: #FFFFFF;
  margin-bottom: 55px;
}
.sidebar__center h4 {
  display: none;
}
.sidebar__center a {
  color: #FFFFFF;
  padding: 18px 55px;
  background-color: #144A8D;
  border-radius: 10px;
  font-size: 22px;
  transition: 0.5s;
  font-weight: 600;
  border: 3px solid transparent;
}
.sidebar__center a:hover {
  background-color: transparent;
  border: 3px solid #144A8D;
  color: #144A8D;
  transition: 0.5s;
}

.product {
  margin-bottom: 75px;
  width: 100%;
  overflow: hidden;
}
.product__section {
  display: flex;
  gap: 6px;
}
.product__section .extra {
  transition: 0.8s;
  display: none;
  position: absolute;
  top: 8px;
  left: 7%;
  border: 3px solid #33348E;
  text-align: start !important;
}
.product__section-info {
  flex-grow: 1;
  transition: 0.4s;
  background-color: #F7F7F7;
  padding: 35px 0;
  text-align: center;
  position: relative;
}
.product__section-info-sidebar {
  margin-bottom: 22px;
  text-align: center;
}
.product__section-info-sidebar img {
  transition: 0.4s;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__section-info h1 {
  font-size: 45px;
  font-weight: 800;
  color: #33348E;
  transition: 0.4s;
  text-align: center;
  margin-bottom: 10px;
}
.product__section-info a {
  background-color: #F7F7F7;
  padding: 13px 55px;
  border-radius: 15px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #33348E;
  border: 4px solid #33348E;
  font-weight: 700;
  transition: 0.4s;
}
.product__section-info a:hover + .extra {
  display: block;
  background-color: rgba(255, 255, 255, 0.9215686275);
  padding: 10px 70px;
  border-radius: 20px;
}
.product__section-info a:hover + .extra .extra__menu .extra__menu-flex {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 7px;
  border-bottom: 3px solid #33348E;
  align-items: center;
  margin-bottom: 17px;
}
.product__section-info a:hover + .extra .extra__menu .extra__menu-flex i {
  font-size: 45px;
  color: #33348E;
}
.product__section-info a:hover + .extra .extra__menu .extra__menu-flex p {
  color: #33348E;
  font-weight: 700;
  font-size: 22px;
}
.product__section-info a:hover + .extra .extra__menu .extra__menu-flex:last-child {
  border: none;
}
.product__section-info a:hover + .extra .extra__menu .extra__menu-flex:last-child {
  margin: 0;
}
.product__section-info:hover {
  background-color: rgb(8, 109, 112);
  transition: 0.4s;
}
.product__section-info:hover h1 {
  color: #FFFFFF;
  transition: 0.4s;
}
.product__section-info:hover img {
  transform: scale(1.1);
  transition: 0.4s;
}
.product__section-info:hover a {
  color: #33348E;
  background-color: #FFFFFF;
  border: 4px solid #33348E;
  transition: 0.4s;
}

.about__top h1 {
  padding-top: 25px;
  font-weight: 700;
  font-size: 55px;
  color: #33348E;
  margin-bottom: 30px;
  text-align: center;
}
.about__top p {
  font-size: 18px;
  line-height: 30px;
  color: #33348E;
  font-weight: 500;
}
.about__top p .span {
  margin-bottom: 22px;
  display: block;
}
.about__centre {
  background: #FFFFFF;
  font-size: 14px;
  color: #000;
  margin-bottom: 50px;
  padding: 0;
}
.about swiper-container {
  height: 70vh;
}
.about swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__bottom-text h1 {
  font-size: 55px;
  font-weight: 700;
  color: #33348E;
  text-align: center;
  margin-bottom: 35px;
}
.about__bottom-img {
  text-align: center;
  margin-bottom: 100px;
}

.remind {
  color: #33348E;
  font-size: 25px;
  font-weight: 700;
}

.contact {
  background-color: #FAF8EA;
  padding-top: 35px;
  margin-bottom: px;
}
.contact h1 {
  font-weight: 700;
  font-size: 55px;
  color: #33348E;
  margin-bottom: 45px;
  text-align: center;
}
.contact__sidebar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 35px;
}
.contact__sidebar-info {
  border-right: 3px solid #33348E;
  padding: 40px 60px;
}
.contact__sidebar-info p, .contact__sidebar-info a {
  font-size: 25px;
  font-weight: 700;
  color: #33348E;
}
.contact__sidebar-info-details {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}
.contact__sidebar-info-details i {
  color: #33348E;
  font-size: 50px;
}
.contact__sidebar-info-details p {
  font-size: 30px;
  font-weight: 600;
  color: #33348E;
}
.contact__sidebar-info:nth-child(3) {
  border: none;
}
.contact__map #location {
  height: 500px;
  width: 100%;
}

.footer {
  text-align: center;
  padding: 50px 0;
}
.footer__top img {
  margin-bottom: 30px;
}
.footer__centre ul {
  display: flex;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.footer__centre ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #144A8D;
  line-height: 1.8;
}
.footer__bottom {
  margin-bottom: 15px;
}
.footer__bottom a {
  color: #144A8D;
  font-size: 50px;
  margin-left: 20px;
}
.footer__bottom a:first-child {
  margin: 0;
}
.footer__bottom i {
  transition: 0.3s;
}
.footer__bottom i:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}
.footer p {
  font-weight: 600;
  font-size: 18px;
  color: #144A8D;
}

.knopka__vverx {
  position: relative;
}
.knopka__vverx a {
  position: absolute;
  right: 50px;
  bottom: 50px;
  position: fixed;
  color: #FFFFFF;
  background-color: #33348E;
  font-size: 25px;
  border-radius: 50%;
  padding: 10px 20px;
  transition: 0.3s;
  z-index: 1;
  border: 3px solid #33348E;
}
.knopka__vverx a:hover {
  color: #33348E;
  transition: 0.3s;
  background-color: #FFFFFF;
  border: 3px solid #33348E;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-ExtraLight.woff2") format("woff2"), url("../fonts/NotoSans-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Light.woff2") format("woff2"), url("../fonts/NotoSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Semibold.woff2") format("woff2"), url("../fonts/NotoSans-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSans-Extrabold.woff2") format("woff2"), url("../fonts/NotoSans-Extrabold.woff") format("woff");
}
@media screen and (min-width: 1140px) and (max-width: 1400px) {
  .header__bg .header__nav-temno {
    margin-bottom: 50px;
  }
  .header__length ul li a {
    font-size: 18px;
  }
  .header__length ul li a img {
    background-color: transparent;
  }
  .sidebar__center h1 {
    font-size: 75px;
    letter-spacing: 3px;
  }
  .sidebar__center p {
    display: none;
  }
  .sidebar__center h4 {
    display: block;
    margin-bottom: 50px;
    text-shadow: 2px 3px 0px #0062bd;
    font-size: 23px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #FFFFFF;
  }
  .sidebar__center a {
    font-size: 17px;
    padding: 15px 40px;
  }
  .product__section-info {
    padding: 25px 40px;
  }
  .product__section-info-sidebar img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .product__section-info h1 {
    font-size: 35px;
  }
  .product__section-info a {
    font-size: 15px;
    padding: 10px 30px;
  }
  .product__section-info .extra {
    top: 10px;
    left: 7%;
  }
  .product__section-info a:hover + .extra {
    padding: 10px 40px;
    border-radius: 20px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex {
    padding-bottom: 5px;
    border-radius: 10px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    margin-bottom: 12px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex i {
    font-size: 30px;
    color: #33348E;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex p {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .header__bg {
    width: 100%;
    background-size: cover;
    height: 55vh;
    background-position: center;
  }
  .header__bg .header__nav-temno {
    background-color: transparent;
    height: 0;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .header__length ul {
    padding: 0;
  }
  .header__length ul li a img {
    border-radius: 15px;
    padding: 5px;
  }
  .sidebar__center h1 {
    display: none;
  }
  .sidebar__center p {
    display: none;
  }
  .sidebar__center h4 {
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 0px #0062bd;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
  .sidebar__center a {
    display: none;
  }
  .product {
    margin-bottom: 20px;
  }
  .product__section-info {
    padding: 20px 30px;
  }
  .product__section-info h1 {
    font-size: 35px;
  }
  .product__section-info-sidebar img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 180px;
    height: 250px;
  }
  .product__section-info a {
    padding: 9px 30px;
    font-weight: 700;
    border-radius: 17px;
    font-size: 17px;
  }
  .product__section-info .extra {
    top: 7px;
    left: 52px;
  }
  .product__section-info a:hover + .extra {
    padding: 10px 28px;
    border-radius: 25px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex i {
    font-size: 33px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex p {
    font-size: 15px;
  }
  .about__top h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .about__top p {
    font-size: 15px;
  }
  .about swiper-slide img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about__bottom-text h1 {
    font-size: 30px;
  }
  .about__bottom-img img {
    min-width: 320px;
    width: 100%;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact__sidebar {
    display: block;
  }
  .contact__sidebar-info {
    border: none;
  }
  .contact__sidebar-info a {
    font-size: 23px;
  }
  .contact__sidebar-info-details i {
    font-size: 37px;
  }
  .contact__sidebar-info-details p {
    font-size: 25px;
  }
  .contact__sidebar-info-details a {
    font-size: 21px;
  }
  .footer__centre ul {
    padding: 0;
    display: block;
  }
  .knopka__vverx a {
    right: 10px;
    font-size: 20px;
    padding: 7px 15px;
    bottom: 10px;
  }
  .remind {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header__length-plus {
    top: 100px;
  }
  .header__length-plus ul li a {
    font-size: 25px;
  }
  .product__section-info .extra {
    top: 5px;
    right: 50px;
  }
  .product__section-info a:hover + .extra {
    padding: 5px 5px;
    border-radius: 20px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex {
    border: none;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex i {
    font-size: 25px;
  }
  .product__section-info a:hover + .extra .extra__menu .extra__menu-flex p {
    font-size: 13px;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact__sidebar {
    display: block;
  }
  .contact__sidebar-info {
    border: none;
    padding: 35px 30px;
  }
  .contact__sidebar-info p {
    font-size: 18px;
  }
  .contact__sidebar-info-details {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .contact__sidebar-info-details i {
    font-size: 22px;
  }
  .contact__sidebar-info-details p {
    font-size: 25px;
  }
  .contact__sidebar-info a {
    font-size: 18px;
  }
  .about__bottom-img img {
    min-width: 250px;
    width: 100%;
  }
  .knopka__vverx a {
    right: 10px;
    font-size: 15px;
    padding: 10px 15px;
    bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */